<!DOCTYPE html>
{% extends 'base.html' %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}
<p>Index 2</p>
<section>
    <img src="media/main image 1.png" class="img-fluid w-100" alt="image">
</section>
<hr />

<div class="row banner p-2">
  <div class="col text-center">
    <h2 class="d-inline align-middle">Get a free quote now!</h2>
    <button type="button" class="btn btn-sm btn-info px-3 mx-3">
      Contact Us
    </button>
  </div>
</div>

<section class="container services">
    <h3 class="text-center pt-1">What we do</h3>
    <div class="row">    
        <div class="col-12 col-lg-4">                   
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Social Media Posts</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-4">                   
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Corporate Logos</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">                   
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Fliers, Posters, Merchandise</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
  </div>
  
</section>
<section class="container about">
    <h3 class="text-center pt-1">Who we are</h3>
    <div class="row">    
        <div class="col-12 col-lg-6">                   
            <img width="100%" height="auto" class="" src="/media/building-frontage.jpg" alt="Card image cap" />            
                          
            <p class="text-left">
                Established in 2017 Blackhills Graphics is an Irish based graphic design company specialising in corporate design and also offer unique individual branding.   
            </p>
            <a href="#" class="btn btn-primary w-100">See more</a>        
        </div>

        <div class="col-12 col-lg-6 map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1393.3425602893362!2d-6.945079874609773!3d53.88198533896395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sie!4v1604763145389!5m2!1sen!2sie" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
  </div>
  
</section>



{% endblock %}
