<!DOCTYPE html>
{% extends 'base.html' %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}

<div class="container-fluid hero-image">
	<div class="row">
        <div class="col-12 col-lg-7"></div>

		<div class="col-12 col-lg-5">
			<h1 class=" m-2 m-lg-5 p-2 p-lg-4 home-headline text-center">Tailoring a design for you in a changing world</h1>
			
            <h2 class="text-right m-lg-5 contact-button">Get a free quote now!
                <a href=""  class="d-lg-inline btn btn-sm btn-info px-3 mx-3 text-uppercase align-middle">
                Contact Us
                </a>
            </h2>			
		</div>
	</div>
</div>

<section class="services">
    <div class="row banner p-2">
        <div class="col text-center">
            <h2 class="d-inline align-middle">What we do.</h2>
            <button type="button" class="btn btn-sm btn-info px-3 mx-3">
            View all
            </button>
        </div>
    </div>
    <div class="container">
        <div class="row my-3">
            <div class="col-12 col-lg-4 p-0">
                <img class="w-100" src="/media/packaging.jpg" alt="">
            </div>
            <div class="col-12 col-lg-8 bg-light">
                <h4>Packaging</h4>
                <p>yadda yadda yadda</p>
                <a href="#" class="btn btn-primary">View more</a>
            </div>
        </div>
   
        <div class="row my-3">
            <div class="col-12 col-lg-8 bg-light">
                <h4>Logos</h4>
                <p>yadda yadda yadda</p>
                <a href="#" class="btn btn-primary">View more</a>
            </div>
            <div class="col-12 col-lg-4 p-0">
                <img class="w-100 bg-light" src="/media/REDROLLER LOGO(full).jpg" alt="">
            </div>
        </div>
        <div class="row my-3">
            <div class="col-12 col-lg-4 p-0">
                <img class="w-100" src="/media/gif-tatooine.gif" alt="">
            </div>
            <div class="col-12 col-lg-8 bg-light">
                <h4>GIF's</h4>
                <p>yadda yadda yadda</p>
                <a href="#" class="btn btn-primary">View more</a>
            </div>
        </div>
     </div>
</section>
<section class="location bg-light">   
    <h2 class="text-center banner p-2">Where we are</h2>  
    <div class="container">
        <div class="row">  
            
            <div class="col-12 col-lg-6">                   
                <img width="100%" height="auto" class="" src="/media/building-frontage.jpg" alt="Card image cap" /> 
                          
                <p class="text-left">
                    Established in 2017 Blackhills Graphics is an Irish based graphic design company specialising in corporate design and also offer unique individual branding.   
                </p>    
            </div>

            <div class="col-12 col-lg-6">     
                
            </div>               
        </div> 
    </div>
</section>
{% endblock %}
