{% extends 'base.html' %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}

<div class="container-fluid hero-image">
	<div class="row align-items-center">
        <div class="col-12 col-lg-7">
            <img src="{{ MEDIA_URL }}jerseystransparent(4).png" class="img-fluid mx-auto m-2 d-block" alt="Image of jerseys">
        </div>

		<div class="col-12 col-lg-5">
            <div class="row m-2 m-lg-5"> 
                <div class="col home-headline text-center">  
                    <h1 class="d-block p-2 p-lg-4">Your Hero</h1>
                    <h1 class="d-block p-2 p-lg-4">Your Era</h1>
                    <h1 class="d-block p-2 p-lg-4">Your Jersey</h1>
                </div> 
			</div>

            <div class="row m-2 m-lg-5">
                <div class="col p-2 p-lg-4 home-headline">                    
                    <a href="{% url 'products' %}">
                        <div class="btn btn-lg products-button text-uppercase align-middle w-100">
                            View our products
                        </div>
                    </a>
                </div>	
            </div>		
		</div>
	</div>
</div>



{% endblock %}
