{% extends 'base.html' %} {% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}
{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}
<section class="container">
    <div class="row">    
        <div class="col">
        <hr>
            <h1 class="m-2">Profile</h1>
         <hr>
        </div>   
    </div>

    <div class="row">
        <div class="col-12 col-lg-6">
            <p>Default Delivery Information</p>
            <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form | crispy }}
                <button class="btn products-button w-50" type="submit">Update Info</button>            
            </form>
            <hr>
        </div>
        <div class="col-12 col-lg-6">
            <div class="row align-items-center">
                <div class="col">
                    <p class="text-muted d-inline mb-1">Your Reviews ({{ total_reviews }})</p>
                    <button type="button" class="btn reviews-button btn-sm d-inline m-1" id="reviews">
                        View all
                    </button> 
                </div>
            </div>      
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Product</th>
                        <th scope="col">Review</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>     
                    {% for review in all_reviews %}
                        {% if forloop.counter <= 5 %}
                            <tr>
                                <td>
                                    {{ review.date }}
                                </td>
                                <td>
                                    {{ review.product }}
                                </td>
                                <td>
                                    <p class="review-comment d-inline" title="{{ review.comment }}">{{ review.comment|truncatechars:20 }}</p>
                                    <i class="fas fa-arrow-circle-right float-right" title="Edit/Delete" data-toggle="modal" data-target="#reviewsModel_{{ review.id }}"></i>
                                </td>
                            </tr>
                        {% else %}
                            <tr class="reviews" style="display: none">
                                <td>
                                    {{ review.date }}
                                </td>
                                <td>
                                    {{ review.product }}
                                </td>
                                <td>
                                    <p class="review-comment d-inline" title="{{ review.comment }}">{{ review.comment|truncatechars:20 }}</p>
                                    <i class="fas fa-arrow-circle-right float-right" title="Edit/Delete" data-toggle="modal" data-target="#reviewsModel_{{ review.id }}"></i>
                                </td>
                            </tr>
                        {% endif %}
                        <!--Reviews model start-->
                        <div class="modal fade" id="reviewsModel_{{ review.id }}" tabindex="-1" role="dialog" aria-labelledby="reviews_{{ review.product.name }}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">                        
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="reviews_{{ review.product.name }}">{{ review.product.name }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>                            
                                    </div>
                                    
                                    <div class="modal-body">                                                        
                                        <hr>
                                        <div class="row">
                                            <div class="col-12 col-lg-6">
                                                <img src="{{ review.product.image.url }}" class="img-fluid w-100 m-1" alt="{{ review.product.name }}">
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <form action="{% url 'edit_review' review.id %}" method="POST">  
                                                    {% csrf_token %}                                   
                                                    <textarea name="comment" class="autoExpand" rows="3" data-min-rows="3" placeholder="Review text...">{{ review.comment }}</textarea>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <a href="{% url 'delete_review' review.id %}" method="POST"><button type="button" class="btn btn-danger w-100" >Delete</button></a>
                                                        </div>
                                                        <div class="col-6">
                                                            <button type="submit" class="btn modal-button w-100">Save</button>
                                                        </div>
                                                    </div>                                        
                                                </form>
                                            </div>
                                        </div>                           
                                    </div>                        
                                </div>
                            </div>
                        </div>
                        <!--Reviews model end-->
                    {% endfor %}
                </tbody>
            </table>
            
            <hr>
            <div class="row align-items-center">
                <div class="col">
                    <p class="text-muted d-inline mb-1">Order History ({{ total_orders }})</p>
                    <button type="button" class="btn reviews-button btn-sm d-inline m-1" id="orders">
                            View all
                    </button> 
                </div>
            </div>
            
            <table class="table table-sm">
                <thead>
                    <tr>
                    <th scope="col">Order number</th>
                    <th scope="col">Date</th>
                    <th scope="col">Items</th>
                    <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        {% if forloop.counter <= 3 %}
                            <tr>
                                <td>
                                    <a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}" class="">                      
                                        {{ order.order_number|truncatechars:10 }}
                                    </a>
                                </td>
                                <td>{{ order.date }}</td>
                                <td>
                                    {% for item in order.lineitems.all %}
                                    <p class="">{{ item.product.size|title }} {{ item.product.name }} x {{ item.quantity }}</p>
                                    {% endfor %}   
                                </td>
                                <td>€{{ order.grand_total }}</td>
                            </tr>    
                        {% else %}
                            <tr class="orders" style="display: none">
                                <td>
                                    <a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}" class="">                      
                                        {{ order.order_number|truncatechars:10 }}
                                    </a>
                                </td>
                                <td>{{ order.date }}</td>
                                <td>
                                    {% for item in order.lineitems.all %}
                                    <p class="">{{ item.product.size|title }} {{ item.product.name }} x {{ item.quantity }}</p>
                                    {% endfor %}   
                                </td>
                                <td>€{{ order.grand_total }}</td>
                            </tr>    
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <hr class="my-0">
            
      
        </div>
    </div>        
 
</section>
<!--Script courtesy of https://codepen.io/vsync/pen/frudD-->
<script type="text/javascript">
    function getScrollHeight(elm){
    var savedValue = elm.value
    elm.value = ''
    elm._baseScrollHeight = elm.scrollHeight
    elm.value = savedValue
    }

    function onExpandableTextareaInput({ target:elm }){
    // make sure the input event originated from a textarea and it's desired to be auto-expandable
    if( !elm.classList.contains('autoExpand') || !elm.nodeName == 'TEXTAREA' ) return
    
    var minRows = elm.getAttribute('data-min-rows')|0, rows;
    !elm._baseScrollHeight && getScrollHeight(elm)

    elm.rows = minRows
    rows = Math.ceil((elm.scrollHeight - elm._baseScrollHeight) / 16)
    elm.rows = minRows + rows
    }

// global delegated event listener
document.addEventListener('input', onExpandableTextareaInput)

$('#reviews').click(function() {
    $(".reviews").toggle();
})
$('#orders').click(function() {
    $(".orders").toggle();
})

</script>
{% endblock %}

