<!DOCTYPE html>
{% extends 'base.html' %} {% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}
{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}
<section class="container">
    <div class="row">    
        <div class="col">
        <hr>
            <h1 class="text-center m-2">Profile</h1>
         <hr>
        </div>   
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col-12 col-lg-6">
            <p>Default Delivery Information</p>
            <form class="" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form | crispy }}
                <button class="btn products-button">Update Info</button>
            
            </form>
        </div>
        <div class="col-12 col-lg-6 order-lg-last mb-5">
            <p class="text-muted">Your Reviews ({{ total_reviews }})</p>
            {% for review in reviews_subset %}
                <div class="row no-gutters">
                    <div class="col">
                        <p class="text-left">{{ review.date }}</p>
                    </div>
                    <div class="col">
                        <p class="text-left">{{ review.product }}</p>
                    </div>
                    <div class="col">
                        <p class="review-comment d-inline" title="{{ review.comment }}">{{ review.comment|truncatechars:20 }}</p>
                        <i class="fas fa-arrow-circle-right float-right"></i>
                    </div>
                </div>
            {% endfor %}
            <hr>
            <p class="text-muted">Order History ({{ total_orders }})</p>
            <div class="row no-gutters">
                <div class="col">
                    <p class="mb-1 mt-0 text-muted">Order number</p>
                </div>
                <div class="col">
                    <p class="mb-1 mt-0 text-muted">Date</p>
                </div>
                <div class="col">
                    <p class="mb-1 mt-0 text-muted">Items</p>
                </div>
                <div class="col">
                    <p class="mb-1 mt-0 text-muted text-center">Total</p>
                </div>
            </div>
            {% for order in orders %}
                <div class="row mb-1 no-gutters">
                    <div class="col px-1"> 
                        <a href="{% url 'order_history' order.order_number %}"
                            title="{{ order.order_number }}" class="">                      
                            {{ order.order_number|truncatechars:10 }}
                        </a> 
                    </div>
                    <div class="col px-1">                        
                        <p class="">{{ order.date }}</p>
                    </div>
                    <div class="col px-1">                                               
                        {% for item in order.lineitems.all %}
                            <p class="">{{ item.product.size|title }} {{ item.product.name }} x {{ item.quantity }}</p>
                        {% endfor %}                        
                    </div>
                    <div class="col px-1">                        
                        <p class=" text-center">€{{ order.grand_total }}</p>
                    </div>
                    
                    
                </div>
            {% endfor %}
            <hr class="my-0">
            
      
        </div>
    </div>        
 
</section>
{% endblock %}

