<!DOCTYPE html>
{% extends 'base.html' %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}
<section class="container">
    <div class="row">    
        <div class="col">
        <hr>
            <h1 class="text-center m-2">Thank you</h1>
         <hr>
         <p>Your order information is below. A confirmation email will be sent to {{ order.email }}</p>
        </div>   
    </div>
</section>
<!--Order summary-->
<section class="container">
    <div class="row">
        <div class="col-12 col-lg-7">

        </div>
    </div> 
    <!--Keep shopping button-->       
    <div class="row">
        <div class="col py-3 w-25">   
            <a href="{% url 'products' %}" class="btn btn-lg products-button w-100">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span>Keep Shopping</span>
            </a>
        </div>
    </div>
</section>
{% endblock %}

