@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:wght@500&display=swap');

html {
    height: 100%;
}

body {
    background: url('/media/blackhills monogram.png');
    background-size: cover;
}

.header-container {
    height: 56px;
}

.navbar-brand {
    font-family: 'Bangers', cursive;
}

.navbar a h1 {
    text-transform: uppercase;
}

header {
    background-image: linear-gradient(to right, #d0b3b7, #985d65, #d0b3b7);
}

header a {
    color: black;
}

.nav-link {
    font-family: 'Roboto', sans-serif;
}

.banner {
    background-color: black;
    color: white;
}

.hero-image {
    background: url('/media/high-res-main-image.jpg') no-repeat center top;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: #555;
    font-family: 'Lato';
}

/*.home-image-animation {
    animation-name: spinner-image;
    animation-duration: 5s;
    animation-iteration-count: 1;
    width: 50%;
    height: 50%;
}

@keyframes spinner-image {
    0% {
    transform: rotate(0);
    width: 30%;
    height: 30%;
  }
  100% {
    transform: rotate(360deg);
    width: 50%;
    height: 50%;
  }
}*/

.home-headline {
    background-color: #0000002e;
    color: #fafafa;
    
}

.contact {
    
    color: #000;
    font-family: 'Bangers', cursive;
}