@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:wght@500&display=swap');
/*
html {
    height: 100%;
}
*/

body {
    background-color: #f5f1e2;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

main {
    flex: 1 0 auto;
}

.header-container {
    height: 56px;
}

.navbar-brand {
    font-family: 'Bangers', cursive;
}

.navbar a h1 {
    text-transform: uppercase;
}

header, .footer {
    background-image: linear-gradient(to right, #d0b3b7, #985d65, #d0b3b7);
}

header a {
    color: black;
}

.nav-link {
    font-family: 'Roboto', sans-serif;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.banner {
    background-color: black;
    color: white;
}

.hero-image {
    background: url('/media/crowd-skysports-atlanta-mls.jpg') no-repeat center top;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: #555;
    font-family: 'Lato';
}

/*.home-image-animation {
    animation-name: spinner-image;
    animation-duration: 5s;
    animation-iteration-count: 1;
    width: 50%;
    height: 50%;
}

@keyframes spinner-image {
    0% {
    transform: rotate(0);
    width: 30%;
    height: 30%;
  }
  100% {
    transform: rotate(360deg);
    width: 50%;
    height: 50%;
  }
}*/

.home-headline {
    background-color: #00000096;
    color: #fafafa;
    
}

.home-headline h1 {
    font-family: 'Bangers', cursive;
    font-size: 4rem;
}

@media(max-width: 768px) {
    .home-headline h1 {
        font-size: 2rem;
    }
}

.products-button {    
    color: #000;
    background-color: #d0b2b6f7;
    font-family: 'Bangers', cursive;
    border: 1px solid #985d65;
}


/*Allauth forms*/
.allauth-form-inner-content {
    background-color: #cfb2b6;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #000; /* #6c757d text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

/*
.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}
*/

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/*----Products page--*/

/*----W3 sidebar----*/
.sidenav {
  height: 100%; /* 100% Full-height */  
  margin-left: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: -260px;
  background-color: #eae2f1; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 56px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #000;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #985d65;
}


.product-menu {
    display: inline-block;
    height: 100%;
}

.sidenav-activator {
	display: inline-block;
    height: 100%;
    padding: 56px 10px 0;

}

.sidenav-activator i {
    padding-top: 300px;;
}
/*
#main-container {
    display: inline-block;
  transition: margin-left .5s;
  padding: 16px;
  
}
*/
.sidenav form {
    padding: 8px 8px 8px 32px;
}

.size-button {
    width: 70px;
}

.increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
        background-color: #985d65;
        color: #fff;
    }
.form-check-input {
    background-color: red;
}
/*---------------------*/
.fa-star {
    color: yellow;
}
/*----Footer--*/
.footer {
    z-index: 2;
}
.footer a {
    color: #000;   
}

/**
 Stripe CSS
 */
.StripeElement,
.stripe-style-input {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}