@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:wght@500&display=swap');
/*Main global layout*/
main {
    flex: 1 0 auto;
}

body {
    background-color: #efefef;
    display: flex;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    flex-direction: column;
}

/* Headers and navbar*/
h1 {
    font-family: 'Roboto', sans-serif;
}

.header-container {
    height: 56px;
}

.navbar-brand {
    font-family: 'Bangers', cursive;
}

.navbar-brand:hover {
    color: #000;
}

header, .footer {
    background-image: linear-gradient(to right, #d0b3b7, #985d65, #d0b3b7);
}

header a {
    color: black;
}

.nav-link {
    font-family: 'Roboto', sans-serif;
}
.nav-link:hover {
    background-color: #985d65;
    color: #fff;
}

/*Messages and toasts*/
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    width: 300px;
    z-index: 99999;
}

.toast {
    background-color: #985d65;
}

.toast-header,
.toast-body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9e8ea;
}

.custom-toast {
    overflow: visible;
}

.success-toast {
    border: 1px solid green;
}

.info-toast {
    border: 1px solid #985d65;
}

.error-toast {
    border: 1px solid red;
}

/*Home page*/
.discount-banner {
    background-color: black;
    color: white;
    padding: 5px;
    margin: 0;
}

.discount-banner a {
    color: #000;    
    font-weight: 700;
    background-color: #fff;
    margin: 5px;
}

.hero-image {
    background: url('/media/crowd-skysports-atlanta-mls.jpg') no-repeat center top;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: #555;
    font-family: 'Lato';
}

.home-headline {
    background-color: #00000096;
    color: #fafafa;
    
}

.home-headline h1 {
    font-family: 'Bangers', cursive;
    font-size: 4rem;
}

@media(max-width: 768px) {
    .home-headline h1 {
        font-size: 2rem;
    }
}

/*Allauth forms*/
.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #000; /* #6c757d text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}


.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* .btn */
	display: inline-block;
    font-weight: 600;
    color: #000;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #d0b2b6f7;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #985d65;
    
}

.allauth-form-inner-content a {
	color: #985d65; /* text-info */
}

/* About Us page */
.map {
    width: 100%; 
    height: 100%;
    margin-bottom: 5px;
    border: 1px solid #985d65;
}

.building-image {
    font-family:  'Roboto', sans-serif;
    padding: 5px;
    width: 40%;
    float: right;
}

.mission-statement {
    font-family: 'Bangers', cursive;
    font-size: 2rem;
    color: #985d65;
}
/*----Products page-----------------------------------------*/

/*----W3 sidebar----*/
.sidenav {
  height: 100%; /* 100% Full-height */  
  margin-left: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: -260px; /* Offset left the width of sidenav - width of activator */
  background-color: #eae2f1; 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 56px; /* Place content 56px from the top to allow for fixed navbar */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #000;
  display: block;
  transition: 0.3s;
}

.product-menu {
    display: inline-block;
    height: 100%;
}

.sidenav-activator {
	display: inline-block;
    height: 100%;
    padding: 56px 10px 0;

}

.sidenav-activator i {
    padding-top: 300px;;
}

.sidenav form {
    padding: 8px 8px 8px 32px;
}

.increment-qty, 
.decrement-qty {
    padding: .25rem .5rem !important;
    background-color: #985d65;
    color: #fff;
}

/* Sidenav checkboxes customised */
.custom-control-input:focus {
    display: none;
}

.search-button {
    background-color: #985d65;
    color: #fff;
}

.custom-checkbox {
    padding: 0;
}

.custom-control-input {
    position: relative;
}

.custom-control-input:checked~.custom-control-label::before {
    background-color: #985d65;
    color: #985d65;
    border-color: #985d65;
}

.btn-file {
    position: relative;
    overflow: hidden;
    background-color: #d0b2b6f7;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}
/*---------------------*/
/* Filter icons */
.filter-icons {
    border: 2px solid #995f67;
    background-color: #d0b2b6f7;
}

.filter-icons-size {
    width: 75px;
}

/*Products layout*/
/* Adjust the left margin to allow for sidebar activator on different screen sizes */
.products-container {
    margin-left: 35px;
    }

@media (min-width: 768px) {
    .products-container {
    margin-left: 80px;
    }
}

.product-card {
    border: 1px solid #995f67;
    background-color: #fff;
}

.product-card img {
    max-height: 160px;
    max-width: 100%;
}
.product-card .card-text {
    font-family: "Poppins";
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-card .card-text:hover {
    cursor: pointer;
}

.card-footer {
    width: 100%;
    background-color: inherit;
    border-top: none;
    padding: 0;
}

.card-footer a {
    text-decoration: none;
}

.products-button {
    letter-spacing: 0.05rem; 
    color: #000;
    background-color: #d0b2b6f7;
    font-family: 'Bangers', cursive;  
    border: 2px solid transparent;
}
/* When you mouse over the navigation links, change their color */
.products-button:hover {
    color: #fff;
    background-color: #985d65;
}

.modal-button {
    color: #000;
    background-color: #d0b2b6f7;
    border: 1px solid transparent;
}

.modal-button:hover {
    border: 1px solid #985d65;
}

.review-comment {
    font-family: "Poppins";
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.review-comment:hover {
    cursor: pointer;
}

.fa-comments::before {
    padding: 0 0.5rem;
    color: #985d65;
    font-size: 1.5rem;
}
.fa-arrow-circle-right::before {
    color: #985d65;
    font-size: 1.5rem;    
}
.fa-arrow-circle-right:hover {
    cursor: pointer;
}

.reviews-button {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #d0b2b6f7;
}

.reviews-button:hover {
    border: 1px solid #985d65;
}

.modal-content {
    background-color: #fff;
}

.modal-header {
    border: none;
    padding-bottom: 0;
}
.modal-body {
    padding-top: 0;
}

.modal-content hr {
    background-color: #985d65;
}
.modal-footer {
    border: none;
}

/*----Footer--*/
.footer {
    z-index: 2;
}

.footerCol {
    border-bottom: 2px solid #d0b3b7;
}
.footer a {
    color: #000;   
}

