<!DOCTYPE html>
{% extends 'base.html' %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}
<section class="container about">
    <div class="row">
        <div class="col">
            <h3 class="text-center pt-1">Shopping Bag</h3>
        </div>
    </div>
    
    <div class="row">    
        <div class="col-12 col-lg-6">                   
            {% if shopping_bag_items %}
                <div class="table-responsive rounded"></div>
            {% else %}
                <p>Your shopping bag is empty</p>
                <a href="{% url 'products' %}" class="btn btn-primary w-100">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span>Keep Shopping</span>
                </a>
            {% endif %}                  
        </div>

        <div class="col-12 col-lg-6">
        
        </div>
  </div>
  
</section>
{% endblock %}
