<!DOCTYPE html>
{% extends 'base.html' %} {% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}
<section class="container">
    <div class="row">    
        <div class="col">
        <hr>
            <h1 class="text-center m-2">Product Management</h1>
         <hr>
        </div>   
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col-12 col-lg-6">
            <p>Add a product</p>
        </div>
        <div class="col-12 col-lg-6 order-lg-last mb-5">
            <form method="POST" action="{% url 'add_product' %}" class="form" enctype="multopart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <a class="btn" href="{% url 'products' %}">Products</a>
                <button type="submit">Add a product</button>
            </form>
        </div>
    </div>        
 
</section>
{% endblock %}
