<!DOCTYPE html>
{% extends 'base.html' %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}

<div class="container p-0">
	<div class="row my-4">               
        <div class="col-12 col-md-6">
            {% if product.image %}                      
            <img src="{{ product.image.url }}" class="img-fluid w-100 m-1" alt="{{ product.name }}">
            {% endif %}
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <h4 class="">{{ product.name }}</h4>
            <p class="p-1">
                {{ product.rating }}
                <i class="fa fa-star" aria-hidden="true"></i>    
            </p>
            <h4 class="">€{{ product.price }}</h4>           
            <p class="">{{ product.description }}</p>
            <p class="text-muted small">{{ product.sku }}</p>

            <form class="form" action="{% url 'add_to_shopping_bag' product.id %}" method="POST">
                {% csrf_token %}
                
                <div class="form-group w-100">
                    <label for="id_qty_{{ product.id }}"><strong>Quantity:</strong></label>
                    <div class="input-group">                    
                        <div class="input-group-prepend">
                            <button class ="decrement-qty btn rounded-0"
                                data-item_id="{{ product.id }}"
                                id="decrement-qty_{{ product.id }}">
                                <span class="icon">
                                    <i class="fas fa-minus"></i>
                                </span>
                            </button>
                        </div>                 
                        <input
                            class="form-control qty_input"
                            type="number"
                            name="quantity"
                            value="1"
                            min="1"
                            max="99"
                            data-item_id="{{ product.id }}"
                            id="id_qty_{{ product.id }}"
                        />                  
                        <div class="input-group-append">
                            <button class ="increment-qty btn btn-black rounded-0"
                                data-item_id="{{ product.id }}"
                                id="increment-qty_{{ product.id }}">
                                <span class="icon">
                                    <i class="fas fa-plus"></i>
                                </span>
                            </button>
                        </div>
                   
                    </div>
                    <label class="mt-3" for="id_product_size"><strong>Size:</strong></label>
                    <select id="id_product_size" name="product_size" class="form-control" required>
                        <option selected disabled>Please select an item size</option>
                        {% if product.size_s %}
                            <option value="small">Small</option>
                        {% else %}
                            <option value="" disabled>Small N/A</option>
                        {% endif %}
                        {% if product.size_m %}
                            <option value="medium">Medium</option>
                        {% else %}
                            <option value="" disabled>Medium N/A</option>
                        {% endif %}
                        {% if product.size_lg %}
                            <option value="large">Large</option>
                        {% else %}
                            <option value="" disabled>Large N/A</option>
                        {% endif %}
                        {% if product.size_xl %}
                            <option value="xlarge">Extra large</option>
                        {% else %}
                            <option value="" disabled>Extra large N/A</option>
                        {% endif %}
                    </select>
                
                </div>
                
                <div class="row mb-2">
                    <div class="col-6">
                        <a href="{% url 'products' %}">
                            <div class="products-button btn w-100">
                                <span class="icon"><i class="fas fa-chevron-left"></i></span>
                                <span class="text-uppercase">Products</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-6">
                        <button class="products-button btn w-100" type="submit" >Add to bag
                            <span class="icon"><i class="fas fa-shopping-bag"></i></span>
                        </button>
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
            </form>
            <hr>
            <div class="row mb-2">
                <div class="col">
                    <p class="small d-inline">Reviews ({{ total_reviews }})</p>
                    <button type="button" class="btn reviews-button btn-sm d-inline" data-toggle="modal" data-target="#reviews-model">
                        View all
                    </button> 
                </div>
                
            </div>
            {% for review in reviews_subset %}
                <div class="row no-gutters">
                    <div class="col">
                        <p class="small text-left">{{ review.date }}</p>
                    </div>
                    <div class="col">
                        <p class="small text-left">{{ review.user_profile }}</p>
                    </div>
                    <div class="col">
                        <p class="small review-comment" title="{{ review.comment }}">{{ review.comment|truncatechars:20 }}</p>
                    </div>
                </div>
            {% endfor %}
            <!--Reviews model start-->
            <div class="modal fade" id="reviews-model" tabindex="-1" role="dialog" aria-labelledby="reviews" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        
                        <div class="modal-header">
                            <h5 class="modal-title" id="reviews">Reviews ({{ total_reviews }})</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                            
                        </div>
                        <div>
                            <div class="row align-items-center">
                                <div class="col">
                                    {% if request.user.is_authenticated %} 
                                    <form action="{% url 'add_review' product.id %}" method="POST">
                                    {% csrf_token %}
                                        <i class="far fa-comments"></i>
                                        <textarea name="comment" class="autoExpand w-75" rows="1" data-min-rows="1" placeholder="Leave a review"></textarea>    
                                        <span><button class="btn btn-sm modal-button float-right mr-2" type="submit" value="Submit">Submit</button></span>
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    </form>
                                    {% endif %}
                                </div>
                            </div>
                            
                        </div>
                        <div class="modal-body">
                            
                            {% for review in all_reviews %}
                            <hr>
                            <p class="px-1">{{ review.date }}</p>
                            <blockquote class="blockquote">
                                <i class="fas fa-comments"></i><p class="mb-0 small d-inline">{{ review.comment }}</p>
                                <footer class="blockquote-footer text-right"><cite title="{{ review.user_profile }}">{{ review.user_profile }}</cite></footer>
                            </blockquote>                          
                            
                            
                            {% endfor %}
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                
                            </div>   
                        </div>
                        
                    </div>
                </div>
            </div>
            <!--Reviews model end-->
            {% if request.user.is_superuser %}
                <div class="div">
                    <small><a class="edit-link" href="{% url 'edit_product' product.id %}">Edit product</a> | </small>
                    <small><a class="text-danger delete-link" href="{% url 'delete_product' product.id %}">Delete product</a></small>
                </div>
            {% endif %}
            <div class="row">
                <div class="col">
                    
                    
                </div>
            </div>

        </div>        
    </div>
</div>
{% endblock %}
{% block postloadjs %}

<script type="text/javascript">

    // Disable +/- buttons outside 1-99 range
    function handleEnableDisable(itemId) {
        var currentValue = parseInt($(`#id_qty_${itemId}`).val());
        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 98;
        $(`#decrement-qty_${itemId}`).prop('disabled', minusDisabled);
        $(`#increment-qty_${itemId}`).prop('disabled', plusDisabled);
    }

    // Ensure proper enabling/disabling of all inputs on page load
    var allQtyInputs = $('.qty_input');
    for(var i = 0; i < allQtyInputs.length; i++){
        var itemId = $(allQtyInputs[i]).data('item_id');
        handleEnableDisable(itemId);
    }

    // Check enable/disable every time the input is changed
    $('.qty_input').change(function() {
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });

    // Increment quantity
    $('.increment-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue + 1);
       var itemId = $(this).data('item_id');
       handleEnableDisable(itemId);
    });

    // Decrement quantity
    $('.decrement-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue - 1);
       var itemId = $(this).data('item_id');
       handleEnableDisable(itemId);
    });

    function getScrollHeight(elm){
  var savedValue = elm.value
  elm.value = ''
  elm._baseScrollHeight = elm.scrollHeight
  elm.value = savedValue
}

function onExpandableTextareaInput({ target:elm }){
  // make sure the input event originated from a textarea and it's desired to be auto-expandable
  if( !elm.classList.contains('autoExpand') || !elm.nodeName == 'TEXTAREA' ) return
  
  var minRows = elm.getAttribute('data-min-rows')|0, rows;
  !elm._baseScrollHeight && getScrollHeight(elm)

  elm.rows = minRows
  rows = Math.ceil((elm.scrollHeight - elm._baseScrollHeight) / 16)
  elm.rows = minRows + rows
}


// global delegated event listener
document.addEventListener('input', onExpandableTextareaInput)

</script>

{% endblock %}
