<!DOCTYPE html>
{% extends 'base.html' %} {% load static %} {% block page_header %}
<div class="container header-container">
  
</div>
{% endblock %} {% block content %}

	<div id="SidenavId" class="sidenav">
        <div class="product-menu">
        <!--Search bar text form-->
            <form class="py-2" method="GET" action="{% url 'products' %}">
                <input class="w-90" type="text" name="q" placeholder="Search">
                <span><button class="float-right" type="submit" value="Submit">
                    <i class="fas fa-search"></i>
                </button></span>
                {% if search_term != None %}
                    <p>Search term: '{{ search_term }}'</p>
                {% endif %}
            </form>  
            <!--Checkbox form-->    
            <form class="form" action="{% url 'products' %}" method="GET">
            {% csrf_token %}
                <div class="form-group">
                    <div class="form-check">
                        
                        <input class="form-check-input" type="checkbox" value="" id="all" name="all" checked>
                            <label class="form-check-label" for="all">
                                All
                            </label>
                    </div>
                </div>
                {% for category in categories %}
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="True" id="{{ category }}" name="{{ category }}"  {% if soccer %} checked {% endif %} >
                                <label class="form-check-label" for="{{ category }}">
                                    {{ category.friendly_name }}
                            </label>
                        </div>
                    </div> 
                {% endfor %}
                
                <div class="form-group">
                    <div class="form-check">                        
                        <input class="form-check-input" type="checkbox" value="True" id="small" name="small" {% if small %} checked {% endif %} >
                            <label class="form-check-label" for="small">
                                Small
                        </label>                        
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="True" id="medium" name="medium"  {% if medium %} checked {% endif %} >
                            <label class="form-check-label" for="medium">
                                Medium
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="True" id="large" name="large"  {% if large %} checked {% endif %} >
                            <label class="form-check-label" for="large">
                                Large
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="True" id="xlarge" name="xlarge"  {% if xlarge %} checked {% endif %} >
                            <label class="form-check-label" for="xlarge">
                                X-Large
                        </label>
                    </div>
                </div>
                <button class="products-button btn btn-lg w-100" type="submit">Submit
                    <span class="icon"><i class="fas fa-tshirt"></i></span></button>
            </form> 
            {% if current_category == None %}
                <p>
                    <strong>
                        <a class="text-decoration-none" href="{% url 'products' %}">
                            All
                        </a>
                    </strong>
                </p>
            {% else %}
                <p>
                    <a class="text-decoration-none" href="{% url 'products' %}">
                        All
                    </a>
                </p>
            {% endif %}
            {% for category in categories %}
                {% if category.name == current_category %}
                    <p><strong>
                        <a class="text-decoration-none" href="{% url 'products' %}?category={{ category.name }}">
                            {{ category.friendly_name }}
                        </a></strong>
                    </p>
                {% else %}
                    <p>
                        <a class="text-decoration-none" href="{% url 'products' %}?category={{ category.name }}">
                            {{ category.friendly_name }}
                        </a>
                    </p>
                {% endif %}
                
            {% endfor %}

        </div>
        
        <div id="menu-open" class="bg-dark text-light sidenav-activator align-top" type="button" onclick="openNav()">
            <i class="fas fa-bars"><span class="d-none d-md-inline"> Menu</span></i>
        </div>
        <div id="menu-close" class="bg-dark text-light sidenav-activator align-top" type="button" onclick="closeNav()">
            <i class="fas fa-chevron-left"><span class="d-none d-md-inline"> Menu</span></i>
        </div>                    
    </div>
        
    <div class="ml-3 ml-md-5" id="main-container">
        <h1 class="mt-3 pl-2 pl-md-4 d-inline-block">
            Products - 
        </h1>
        <h4 class=" d-inline-block">
            {% if current_category == None %}
                All
            {% else %}
                {{ current_category|title }} 
            {% endif %}
        </h4>
        <div class="row m-3">
            {% if small == None %}
                <a href="{% url 'products' %}?small=True&medium=False&large=False&xlarge=False" class="m-1 p-1 bg-dark text-light size-button d-inline text-center">S</a>
            {% elif small %}
                <a href="{% url 'products' %}?small=False&medium={{medium}}&large={{large}}&xlarge={{xlarge}}" class="m-1 p-1 bg-dark text-light border border-success size-button d-inline text-center">S</a>
            {% else %}
                <a href="{% url 'products' %}?small=True&medium={{medium}}&large={{large}}&xlarge={{xlarge}}" class="m-1 p-1 bg-light text-dark size-button d-inline text-center">S</a>
            {% endif %}

            {% if medium == None %}
                <a href="{% url 'products' %}?small=False&medium=True&large=False&xlarge=False" class="m-1 p-1 bg-dark text-light size-button d-inline text-center">M</a>
            {% elif medium %}
                <a href="{% url 'products' %}?small={{small}}&medium=False&large={{large}}&xlarge={{xlarge}}" class="m-1 p-1 bg-dark text-light border border-success size-button d-inline text-center">M</a>
            {% else %}
                <a href="{% url 'products' %}?small={{small}}&medium=True&large={{large}}&xlarge={{xlarge}}" class="m-1 p-1 bg-light text-dark size-button d-inline text-center">M</a>
            {% endif %}

            {% if large == None %}
                <a href="{% url 'products' %}?small=False&medium=False&large=True&xlarge=False" class="m-1 p-1 bg-dark text-light size-button d-inline text-center">L</a>
            {% elif large %}
                <a href="{% url 'products' %}?small={{small}}&medium={{medium}}&large=False&xlarge={{xlarge}}" class="m-1 p-1 bg-dark text-light border border-success size-button d-inline text-center">L</a>
            {% else %}
                <a href="{% url 'products' %}?small={{small}}&medium={{medium}}&large=True&xlarge={{xlarge}}" class="m-1 p-1 bg-light text-dark size-button d-inline text-center">L</a>
            {% endif %}

            {% if xlarge == None %}
                <a href="{% url 'products' %}?small=False&medium=False&large=False&xlarge=True" class="m-1 p-1 bg-dark text-light size-button d-inline text-center">XL</a>
            {% elif xlarge %}
                <a href="{% url 'products' %}?small={{small}}&medium={{medium}}&large={{large}}&xlarge=False" class="m-1 p-1 bg-dark text-light border border-success size-button d-inline text-center">XL</a>
            {% else %}
                <a href="{% url 'products' %}?small={{small}}&medium={{medium}}&large={{large}}&xlarge=True" class="m-1 p-1 bg-light text-dark size-button d-inline text-center">XL</a>
            {% endif %}
            
        </div>

        <div class="row justify-content-start card-group">
            {% for product in products %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">           
                    <div class="card mx-auto mb-2" style="width: 18rem;">
                        <p class="text-right p-1">
                            
                            {{ product.rating }}
                            <i class="fa fa-star" aria-hidden="true"></i>  
                        
                        </p>                           
                        <img src="{{ product.image.url }}" class="card-img-top img-fluid" alt="{{ product.name }}">
                        <div class="card-body">
                            <h5 class="card-title d-inline">{{ product.name }}</h5>
                            <p class="text-muted d-inline float-right">({{ product.category.friendly_name }})</p>
                            <h5>€{{ product.price }}</h5>
                            <p class="card-text pt-2">{{ product.description }}</p>
                            <p>Available sizes:
                                {% if product.size_s %}
                                    S 
                                {% endif %}
                                {% if product.size_m %}
                                    M 
                                {% endif %}
                                {% if product.size_lg %}
                                    L 
                                {% endif %}
                                {% if product.size_xl %}
                                    XL 
                                {% endif %}
                            </p>
                            
                            <a href="{% url 'product_detail' product.id %}"><button class="products-button w-100">View Item</button></a>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted float-right">{{ product.sku }}</small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

        

<script type="text/javascript">
    //openNav();
    console.log(screen.width)
    document.getElementById("menu-close").style.display = "none";
    /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
    console.log("script loaded")
function openNav() {
  document.getElementById("SidenavId").style.left = "0";
  document.getElementById("menu-open").style.display = "none";
  document.getElementById("menu-close").style.display = "inline-block";
  //document.getElementById("product-menu").style.width = "400px";
  console.log("openNav function fired");
}

/* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
function closeNav() {
  document.getElementById("SidenavId").style.left = "-260px";
  document.getElementById("menu-open").style.display = "inline-block";
  document.getElementById("menu-close").style.display = "none";
  console.log("closeNav function fired");
}

</script>
{% endblock %}
