<!DOCTYPE html>
{% extends 'base.html' %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}

<div class="container-fluid">
	<div class="row">
        <div class="col-3 side-bar">
            {% if current_category == None %}
                <p>
                    <strong>
                        <a class="text-decoration-none" href="{% url 'products' %}">
                            All
                        </a>
                    </strong>
                </p>
            {% else %}
                <p>
                    <a class="text-decoration-none" href="{% url 'products' %}">
                        All
                    </a>
                </p>
            {% endif %}
            {% for category in categories %}
                {% if category.name == current_category %}
                    <p><strong>
                        <a class="text-decoration-none" href="{% url 'products' %}?category={{ category.name }}">
                            {{ category.friendly_name }}
                        </a></strong>
                    </p>
                {% else %}
                    <p>
                        <a class="text-decoration-none" href="{% url 'products' %}?category={{ category.name }}">
                            {{ category.friendly_name }}
                        </a>
                    </p>
                {% endif %}
                
            {% endfor %}
            {{ current_category }}           
            
        </div>
        <div class="col-9 mt-4">
            <h1 class="text-center">
                Products
            </h1>
            <form method="GET" action="{% url 'products' %}">
                <input type="text" name="q" placeholder="Search">
                <button type="submit" value="Submit">
                    <i class="fas fa-search"></i>
                </button>
                {% if search_term != None %}
                <p>Searching: '{{ search_term }}'</p>
                {% endif %}
            </form>
	
            <div class="row">
                {% for product in products %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 m-1">           
                        <div class="card h-100" style="width: 18rem;">
                            <p class="text-right p-1">
                                
                                {{ product.rating }}
                                <i class="fa fa-star" aria-hidden="true"></i>  
                            
                            </p>                           
                            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="text-muted">({{ product.category }})</p>
                                <p class="card-text">{{ product.description }}</p>
                                <p class="text-muted">{{ product.sku }}</p>
                                <p>Available sizes:
                                    {% if product.size_s %}
                                        S 
                                    {% endif %}
                                    {% if product.size_m %}
                                        M 
                                    {% endif %}
                                    {% if product.size_lg %}
                                        L 
                                    {% endif %}
                                    {% if product.size_xl %}
                                        XL 
                                    {% endif %}
                                </p>
                                <a href="{% url 'product_detail' product.id %}"><button>View</button></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<section class="services">
    
    
</section>

{% endblock %}
